<div class="home-image">
  <div class="row landing">
    
    <div class="large-4 columns testimonial">
      <p> Wadsworth House is private, comfortable and peaceful. The kitchen is large and fully outfitted. A cozy fireplace can warm up a cool evening. Cool off a hot mid-summer afternoon in the pool. The Gator makes Island exploration easy and fun. Lorie, who lives in the cottage close by is a perfect host, quickly taking care of any problems that might arise. We really enjoyed our stay! </p>
    </div>

    <div class="large-7 large-offset-1 columns tagline">
      <h1> Another catchy line </h1>
      <a href="#" class="button expand"> Learn more about the house </a>
      <a href="#" class="button expand"> Learn more about the artist </a>
    </div>

  </div>
</div>

<div class="row">

  <div class="large-6 columns">
    <h1 id="somethign_here">Somethign here</h1>
    <%= image_tag('ph.jpg') %>
  </div>
  
  <div class="large-6 columns">
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#panel1">Tab 1</a></dd>
      <dd><a href="#panel2">Tab 2</a></dd>
      <dd><a href="#panel3">Tab 3</a></dd>
      <dd><a href="#panel4">Tab 4</a></dd>
    </dl>
    <div class="tabs-content">
      <div class="content active" id="panel1">
        <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
      </div>
      <div class="content" id="panel2">
        <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
      </div>
      <div class="content" id="panel3">
        <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
      </div>
      <div class="content" id="panel4">
        <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
      </div>
    </div>
  </div>

</div>
